language: rust
sudo: required
rust:
  - 1.0.0
  - beta
  - nightly
services:
  - docker
script:
  - sh ci/run-travis.sh
os:
  - linux
  - osx
env:
  matrix:
    - ARCH=x86_64
    - ARCH=i686
  global:
    secure: knGy4XLi5DVpZPcBaB8PiGA49NtZLcaWwLIPwSS68CwRJXOeeNPe/+xb7vWCWblJp3k7jK1HkJgHq+muWe1e+gUvXpmvASyuwpIBd4eQn55k4jfQlAVPCpxoIYANnv7bjfDMhuTEUDmvt9vI7BXDlLfi2VRrSrUd9obSwd3QU+ie5V88FTvPIe12zVmcvW8YVkKYsWRM4auIOU7CZSEW4nT+OE6RCpETE12u1qxUhsq03byCL7HQYGJs2S0RsqdyEZV+kAeJxA0ULNXlPs0FEagpqFbxfmZSSWzGp6K9juaRc03OBYiCcxrhYopuU1B1q4xMJk/2xWfPhoNJTU8yKW6fHstJz9Eb7MXH2y3UzDBAbDdwaNH4/aq0fN6O2U2lr7n09oF+pa9Gi5gyUYhKN19skaHMPF+Y7GCkqyCpR2oKTWTp+zSKycvgcsfl9zX2MvZG2NCgLPqRPaCEg/Psa2HvnM4/LgZw5ViDHJDVvNofzKx+2zzUlpsrkXaVDeRqUYVnO/LLiLl1cVT0QDHH1DHLXFY8G7CLfQYA64Np0LURartCmoamC86FavkSPTmnUL7i3RBMJnOUy2Uzf/SzbdRq3Sfp5tAV/miGzWaJFs81wuDKTWq5bnSGNVR18Wori6K8BboRYLmxMpSgQJ/8AnvnXETKwoP2lajJr1A4oPI=
matrix:
  include:
    - os: linux
      env: TARGET=arm-linux-androideabi
      rust: nightly-2015-09-08
    - os: linux
      env: TARGET=x86_64-unknown-linux-musl
      rust: nightly-2015-09-08
    - os: linux
      env: TARGET=arm-unknown-linux-gnueabihf
      rust: nightly-2015-09-08
    - os: linux
      env: TARGET=mips-unknown-linux-gnu
      rust: nightly-2015-09-08
    - os: linux
      env: TARGET=aarch64-unknown-linux-gnu
      rust: nightly-2015-09-08
addons:
  apt:
    packages:
      - gcc-multilib
notifications:
  email:
    on_success: never
branches:
  only:
    - autotest
